<div class="container">
    <div class="add-new-item">
        <div>
            <form method="post" name="addMotorbike" novalidate [formGroup]="formData" (ngSubmit)="addMotorbike()">
                <div class="row">
                    <div class="col">
                        <label for="model">Model:</label>
                        <select
                            formControlName="model">
                            <option 
                                *ngFor="let item of modelItems"
                                [value]="item.id">
                                {{item.title}}
                            </option>
                        </select>
                        <span (click)="newItem('model');">+Add new model</span>
                    </div>
                    <div class="col">
                        <label for="cc">Cc:</label>
                        <select
                            formControlName="cc">
                            <option 
                                *ngFor="let item of ccItems"
                                [value]="item.id">
                                {{item.title}}
                            </option>
                        </select>
                        <span (click)="newItem('cc');">+Add new cc</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="color">Color:</label>
                        <select
                            formControlName="color">
                            <option 
                                *ngFor="let item of colorItems"
                                [value]="item.id">
                                {{item.title}}
                            </option>
                        </select>
                        <span (click)="newItem('color');">+Add new color</span>
                    </div>
                    <div class="col">
                        <label for="weight">Weight:</label>
                        <input
                            type="number"
                            formControlName="weight" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="price">Price:</label>
                        <input
                            type="number"
                            formControlName="price" />
                    </div>
                    <div class="col">

                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button 
                            type="submit"
                            [disabled]="lockBtn"
                            class="button">
                            {{(lockBtn) ? 'Please wait' : 'Add new item'}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="filters">
        Filters By:
        <br/><br/>
        <label for="model">Model:</label>
        <select
            [(ngModel)]="filters.model">
            <option value="">---</option>
            <option 
                *ngFor="let item of modelItems"
                [value]="item.id">
                {{item.title}}
            </option>
        </select>
        
        <label for="model">Color:</label>
        <select
            [(ngModel)]="filters.color">
            <option value="">---</option>
            <option 
                *ngFor="let item of colorItems"
                [value]="item.id">
                {{item.title}}
            </option>
        </select>

        <label for="model">Cc:</label>
        <select
            [(ngModel)]="filters.cc">
            <option value="">---</option>
            <option 
                *ngFor="let item of ccItems"
                [value]="item.id">
                {{item.title}}
            </option>
        </select>


        <button 
            type="button"
            class="button"
            (click)="setFilters()">
            Set Filters
        </button>
    </div>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Model
                        <img class="sort" src="assets/sort.png" width="16" height="16" (click)="sort('model');" />
                    </th>
                    <th>
                        Cc
                        <img class="sort" src="assets/sort.png" width="16" height="16" (click)="sort('cc');" />
                    </th>
                    <th>
                        Color
                        <img class="sort" src="assets/sort.png" width="16" height="16" (click)="sort('color');" />
                    </th>
                    <th>
                        Weight 
                        <img class="sort" src="assets/sort.png" width="16" height="16" (click)="sort('weight');" />
                    </th>
                    <th>
                        Price
                        <img class="sort" src="assets/sort.png" width="16" height="16" (click)="sort('price');" />
                    </th>
                    <th>
                        Added time
                        <img class="sort" src="assets/sort.png" width="16" height="16" (click)="sort('addedTime');" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="loading" *ngIf="loading">
                    <td colspan="7">
                        LOADING...
                    </td>
                </tr>
                <tr class="no-item" *ngIf="motorbikeItems.length < 1 && !loading">
                    <td colspan="7">
                        NO ITEMS!!!
                    </td>
                </tr>
                <tr
                    *ngFor="let item of motorbikeItems; let idx = index;"
                    class="item">
                    <td>
                        {{idx+1}}
                    </td>
                    <td>
                        {{item.model}}
                    </td>
                    <td>
                        {{item.cc}}
                    </td>
                    <td>
                        {{item.color}}
                    </td>
                    <td>
                        {{item.weight}}
                    </td>
                    <td>
                        {{item.price}}
                    </td>
                    <td>
                        {{item.addedTime}}
                    </td>
                    
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <button 
                            type="button" 
                            class="button" 
                            [disabled]="this.filters.last == 0" 
                            (click)="previous();">
                            < Previous Page
                        </button>
                        <button 
                            type="button" 
                            class="button" 
                            [disabled]="motorbikeItems.length < 5" 
                            (click)="next();">
                            Next Page >
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>